<h1 id="Contato" class='title'>Contato</h1>
<footer>

    <ul id="ul-footer">

        <li>
            <a href="https://github.com/Kauan-VX" target="_blank"> <img src="../assets/img/logo-github.svg"
                    class="network" alt="GitHub" />
            </a>
        </li>

        <li>
            <a href="https://www.linkedin.com/in/kauan-vx" target="_blank"> <img src="../assets/img/logo-linkedin.svg"
                    class="network" alt="GitHub" />
            </a>
        </li>
        <li>
            <a href="mailto:kauanvieiraxavierk@gmail.com" target="_blank"> <img src="../assets/img/logo-mail.svg"
                    class="network" alt="GitHub" />
            </a>
        </li>

    </ul>
</footer>