<header>
  <div class="name-job">
    <div class="container">
      <img id="logo" src="../assets/img/name-job-roboto.svg" alt="Logo" />
    </div>

    <div #menuSection class="menu-section" id="menu-section">
      <div #menuToggle class="menu-toggle">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>
      <nav>
        <ul>
          <li>
            <a href="#Sobre-mim">Sobre mim</a>
          </li>
          <li>
            <a href="#Skills">Skills</a>
          </li>
          <li>
            <a href="#Repositorios">Repositórios</a>
          </li>
          <li>
            <a href="#Contato">Contato</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>