<h1 id="Repositorios" class='title'>Repositórios</h1>
<div class="repository">
  <div class="card">
    <div class="card-image">
      <img src="../assets/img/Med-Express.png" alt="Med-Express">
    </div>
    <div class="card-content">
      <h3 class="card-title">Med-Express</h3>
      <p class="card-description">Durante o evento Hackathon, de 2022, fomos desafiados a criar um projeto web na área
        da saúde em
        apenas 24 horas. Durante o evento, concebemos a ideia inicial de um projeto, mas infelizmente não conseguimos
        concluí-lo dentro do tempo estipulado. Entretanto, em meu tempo livre, dediquei-me a finalizar a tela de login
        do projeto.</p>
      <a href="https://github.com/Kauan-VX/Med-Express" id="card-link" class="card-link" target="_blank">Projeto
        GitHub</a>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="../assets/img/Tela-Login-Animado.png" alt="Tela de Login Animado">
    </div>
    <div class="card-content">
      <h3 class="card-title">Tela de Login</h3>
      <p class="card-description">Esta tela de login apresenta um design animado e harmonioso, tornando-a mais atraente
        para o usuário.</p>
      <a href="https://github.com/Kauan-VX/Login-Avatar" id="card-link" class="card-link" target="_blank">Projeto
        GitHub</a>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="../assets/img/Interface-Usuario.png" id="card-link" alt="Interface de Usuário" target="_blank">
    </div>
    <div class="card-content">
      <h3 class="card-title">Interface de Usuário</h3>
      <p class="card-description">Este projeto de página web foi desenvolvido com base em um modelo feito no Figma</p>
      <a href="https://github.com/Kauan-VX/Pagina-Web-Docente" id="card-link" class="card-link" target="_blank">Projeto
        GitHub</a>
    </div>
  </div>
</div>