<div id="Skills" class='Skills'>
    <h1 class='title'>Skills</h1>
    <ul class="ul-skills">
        <li><img alt="HTML" src="../assets/img/html.svg" /></li>
        <li><img alt="CSS" src="../assets/img/css.svg" /></li>
        <li><img alt="JavaScript" src="../assets/img/javascript.svg" /></li>
        <li><img alt="TypeScript" src="../assets/img/typescript.svg" /></li>
        <li><img alt="React" src="../assets/img/react.svg" /></li>
        <li><img alt="StyledComponet" src="../assets/img/styled-components.svg" /></li>
        <li><img alt="MySql" src="../assets/img/my-sql.svg" /></li>
        <li><img alt="Angular" src="../assets/img/angular.svg" /></li>
        <li><img alt="Sass" src="../assets/img/sass.svg" /></li>
    </ul>
</div>