<div id="Skills" class='Skills'>
    <h1 class='title'>Skills</h1>
    <ul class="ul-skills">
        <li><img src="../assets/img/html.svg" /></li>
        <li><img src="../assets/img/css.svg" /></li>
        <li><img src="../assets/img/javascript.svg" /></li>
        <li><img src="../assets/img/typescript.svg" /></li>
        <li><img src="../assets/img/react.svg" /></li>
        <li><img src="../assets/img/styled-components.svg" /></li>
        <li><img src="../assets/img/my-sql.svg" /></li>
        <li><img src="../assets/img/angular.svg" /></li>
    </ul>
</div>