<section class="hero">
  <div class="container">
    <div class="card-about" id="card-about">
      <h1 class="title">
        Sobre mim
      </h1>
      <h2 class="sub-title">
        Desenvolver em ascensão
      </h2>
      <p class="text">
        Olá! Tudo bem? Meu nome é Kauan, tenho 19 anos e sou um desenvolvedor Front-End apaixonado por
        solucionar problemas complexos de forma simples. Atualmente, estou aprimorando minhas habilidades em
        Angular com o objetivo de conseguir meu primeiro emprego na área e seguir meu fascínio por tecnologia.
      </p>
      <a class="button" id="button" href="../assets/img/Currículo-Kauan-Vieira.pdf" download>Download Currículo</a>
    </div>
    <img src="../assets/img/Coding.svg" alt="" />

  </div>
</section>